<div class="h2">Admin</div>


<ul>
	<li style="font-size: 30px; font-weight: bold;">
		<a href="{{adminRoute}}{{postsRoute}}">Posts</a>
	</li>

	<li class="mt-4" style="font-size: 30px; font-weight: bold;">
		<a href="{{adminRoute}}{{categoriesRoute}}">Categories</a>
	</li>
</ul>